Repository Zilliqa/kaya, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edisonljh, @AmritKumar, @evesnow91

Fix compatibility with scilla 0.5.0 release (support multiple messages)
  .eslintrc.json
  src/components/scilla/scilla.js
  src/logic.js
  test/multicontract.test.js
  test/scilla/chain-call-balance-a-multiple.scilla
Owners: @edisonljh, @AmritKumar

Make max number of calls consistent with Zilliqa
  src/config.js
  src/logic.js
Owners: @edisonljh

Remove redundant chain-call-balance-a-multiple.scilla contract file
  test/multicontract.test.js
  test/scilla/chain-call-balance-a-multiple.scilla
  test/scilla/chain-call-balance-a.scilla
Owners: @edisonljh, @AmritKumar

Fix handling _accepted field, add checking message output for errors
  src/components/scilla/scilla.js
  src/logic.js
Owners: @edisonljh

Implement transfering funds in transitions
  src/components/CustomErrors.js
  src/components/scilla/scilla.js
  src/components/wallet/wallet.js
  src/logic.js
Owners: @edisonljh

Fix discarding transfers, spending amount twice, add tests
  src/logic.js
  test/multicontract.test.js
  test/scilla/chain-call-balance-a.scilla
  test/scilla/chain-call-balance-c.scilla
Owners: @edisonljh, @AmritKumar

Fix gas constants
  src/config.js
Owners: @edisonljh

Add scilla version to stdlib
  src/components/scilla/stdlib/BoolUtils.scillib
  src/components/scilla/stdlib/IntUtils.scillib
  src/components/scilla/stdlib/ListUtils.scillib
  src/components/scilla/stdlib/NatUtils.scillib
  src/components/scilla/stdlib/PairUtils.scillib
Owners: @edisonljh, @AmritKumar

Change Gitter to discord link
  README.md
Owners: @edisonljh, @evesnow91, @AmritKumar

.github/CODEOWNERS:

########## Global owners ##########

*               @edisonljh @AmritKumar

########## Source Code ##########

*.js            @edisonljh

########## Documentation ##########

/README.md      @edisonljh @evesnow91 @AmritKumar 

########## GitHub metadata, including this file ##########

/.github/        @edisonljh @AmritKumar
